body {
  font-family: Vazirmatn, Arial, sans-serif;
  background: #fafafa;
  margin: 0;
  color: #131313;
  text-align: center;
}

header {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 12px;
  font-weight: 700;
}

.card {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 16px;
  margin: 20px auto;
  max-width: 600px;
}

input, button {
  font-family: inherit;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 5px;
  width: 80%;
}

button {
  cursor: pointer;
  background: #44B0EC;
  color: #fff;
  border: none;
  width: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 12px;
  padding: 16px;
}

.post {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.post img {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.caption {
  padding: 8px;
}

.hidden {
  display: none;
}